<div class="beer">
 	 <img class="img" src="{{this.image_url}}"/>
 	 <div class="name">{{this.name}}</div>
 	 <div class="tagLine">{{this.tagline}}</div>
 	 <div class="description">{{this.description}}</div>
</div>