<div class="beer col-4 my-3">
	<img class="img-beer my-3" src="{{this.image_url}}" width='70' />
	<div class="name my-2 display-4">{{this.name}}</div>
	<div class="tagLine my-2">{{this.tagline}}</div>
	<div class="description my-2">{{this.description}}</div>
</div>