<div class="index-container">
  <img src='images/beer.png'></img>
  <div> <button type="button" class="btn btn-primary" href="/beers"> Check the Beers!</button> </div>
  <div><button type="button" class="btn btn-primary"> Check a Random Beer!</button>
  </div>
</div>